:root {
    --normal-font-size: clamp(1.25rem, 3vw, 1.5rem);
    --navbar-height: max(3rem, 6vw);
    --navbar-hpos: 70vh;
    --navbar-offset: .5rem;
    --fixedElement-offset: 100vh;
}

.backToTopBtn {
    border-radius: .75rem;
    padding: var(--navbar-offset);
    background-color: black;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .75);
    display: none;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .25s, visibility .25s;
}

.showbackbutt {
    display: flex;
    visibility: visible;
    opacity: 1;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
    scroll-padding-top: var(--navbar-height);
}

body {
    scroll-behavior: smooth;
    scroll-padding-top: var(--navbar-height);
    background: url("pageBackground.png");
    margin: 0;
    background-size: cover;
    image-rendering: pixelated;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    transform-style: preserve-3d;
}

.titlelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.titlelogo img {
    width: 25vw;
    min-width: 20rem;
    max-width: 45rem;
    margin-top: -5em;
}

#title {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.navbar {
    gap: .5rem;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--navbar-hpos);
    top: calc(var(--navbar-offset) + .25rem);
    width: 100vw;
    height: var(--navbar-height);
    z-index: 99;
}

.nav-scrolled {
    background-color: black;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .75);
}

.navbarBack {
    height: 100%;
    padding: var(--navbar-offset);
    transition: background-color .25s, box-shadow .25s;
    border-radius: .75rem;
}

.navbar a {
    position: static;
    height: 90%;
}

.navbar img {
    height: 100%;
}

.background {
    z-index: -3;
    transform: translateZ(-7.5px) scale(1.75);
}

.foreground {
    z-index: -1;
    transform: translateZ(-2.5px) scale(1.25);
}

.ground {
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    object-fit: cover;
}


.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100vw;
    object-fit: cover;
    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#about {
    display: flex;
    font-size: var(--normal-font-size);
    color: white;
    background-color: black;
    height: 100vh;
    overflow-y: hidden;
    margin-top: calc(100vh - var(--navbar-height) - var(--navbar-hpos));
}

.aboutBack {
    position: absolute;
    opacity: .25;
    width: 84vw;
    height: auto;
    right: -25vw;
    top: -10vh;
}

#stuff {
    display: flex;
    font-size: var(--normal-font-size);
    color: white;
    background-color: black;
    min-height: 2rem;
    overflow-y: hidden;
}

#stuff p {
    padding: 1rem;
    margin-top: 0;
}

.general {
    display: flex;
    font-size: var(--normal-font-size);
    color: white;
    background-color: black;
    min-height: 2rem;
    overflow-y: hidden;
}

.general p {
    padding: 1rem;
    margin-top: 0;
}